*{
    /* margin: 0;
    border: 0; */
}

body{
    background-image: url(./img/background_image.jpg);
    color: white;
}

.container{
    background-color: rgba(0, 0, 0, 0,3);
    margin: 30px 100px;
}

#title{
    font-family: "Bowlby One SC", sans-serif;
    font-style: normal;
    font-weight: 700;
    size: 70px;
    line-height: normal;
    letter-spacing: 0.2cap;
    text-align: center;
}
#span1{
    color: red;
}
#description{
    font-family: "Sorts Mill Goudy", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: normal;
}